@using System.Text.Json;
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor httpContextAccesor;
@{
    ViewData["Title"] = "Inicio";

}

<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @{
                string productosJson = httpContextAccesor.HttpContext.Session.GetString("_productos");
                List<Producto> _productos = JsonSerializer.Deserialize<List<Producto>>(productosJson);
                Random random = new Random();
                foreach (Producto p in _productos)
                {
                    <div class="col mb-5">
                        <div class="card bg-dark h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="~/assets/LogocaFASTeria.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <!-- Product name-->
                                <h5 class="text-center text-white-personal">Gorditas de nata</h5>
                                <!-- Product price-->
                                <div class="text-center text-white-personal">
                                    <h4>$18.00</h4>
                                </div>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center  mb-2">
                                    @{
                                        int numale = random.Next(-1, 6);
                                        for (int j = 0; j < 5; j++)
                                        {
                                            if (j <= numale)
                                            {
                                                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                            }
                                            else
                                            {
                                                <i class="fa-regular fa-star" style="color: #C0C0C0"></i>
                                            }
                                        }
                                    }


                                </div>
                                <!-- Product Description-->
                                <div class="text-left text-white-personal">
                                    Descripcion: <span class="text-gray-personal">Descripcion del articulo al que se esta haciendo referencia</span>
                                    Vendedor: <span class="text-gray-personal">Abraham Roman Ramirez</span>
                                    Telefono: <span class="text-gray-personal">5546814751</span>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-light mt-auto" href="#">Realizar pedido</a></div>
                            </div>
                        </div>
                    </div>
                }

                /*
                Random random = new Random();
                for (int i = 0; i < 20; i++)
                {
                    
                    <div class="col mb-5">
                        <div class="card bg-dark h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="~/assets/LogocaFASTeria.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <!-- Product name-->
                                <h5 class="text-center text-white-personal">Gorditas de nata</h5>
                                <!-- Product price-->
                                <div class="text-center text-white-personal">
                                    <h4>$18.00</h4>
                                </div>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center  mb-2">
                                    @{
                                        int numale = random.Next(-1,6);
                                        for (int j = 0; j < 5; j++)
                                        {
                                            if (j<=numale)
                                            {
                                                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                            }
                                            else
                                            {
                                                <i class="fa-regular fa-star" style="color: #C0C0C0"></i>
                                            }
                                        }
                                    }
                                    
                                    
                                </div>
                                <!-- Product Description-->
                                <div class="text-left text-white-personal">
                                    Descripcion: <span class="text-gray-personal">Descripcion del articulo al que se esta haciendo referencia</span>
                                    Vendedor: <span class="text-gray-personal">Abraham Roman Ramirez</span>
                                    Telefono: <span class="text-gray-personal">5546814751</span>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-light mt-auto" href="#">Realizar pedido</a></div>
                            </div>
                        </div>
                    </div>
                }*/
            }
        </div>
    </div>
</section>