@{
    ViewData["Title"] = "Iniciar Sesion";
}
<div class="text-center">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5 ">
                                    <div class="parent">
                                        <div class="img-logo-caFASTeria"></div>
                                    </div>
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Bienvenido a caFASTeria</h1>
                                    </div>
                                    <div class="container mt-1">
                                        <form asp-action="IniciarSesion" class="form-group d-grid gap-1" method="post">
                                            <label for="usuario" class="form-label">Correo Electronico:</label>
                                            <input type="text" id="usuario" class="form-control" name="correo" placeholder="Ingrese su correo..." required>
                                            <label for="password" class="form-label">Contraseña:</label>
                                            <input type="password" id="password" class="form-control" name="contrase" placeholder="Contraseña" required>
                                            @if (ViewBag.ErrorLogin == 1)
                                            {
                                                <div class="text-danger">Ha ocurrido un error al crear la cuenta.</div>
                                            }
                                            <button class="btn btn-primary mt-2" type="submit">
                                                Iniciar Sesión
                                            </button>
                                            <a asp-action="Register" asp-controller="Home" class="btn btn-secondary mt-2">
                                                Registrarse
                                            </a>
                                        </form>
                                    </div>
                                    <p class="h4 text-danger">@ViewBag.errorCredenciales</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>


    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.js"></script>

</div>
<div class="text-center">
    
</div>
