
<h1>@ViewData["Title"] - caFASTeria</h1>
<hr />
<h2>Misión</h2>
<p>
    Transformar la vida de los estudiantes de ESCOM mediante
    soluciones de software innovadoras y disruptivas, hechas a la medida y utilizando
    tecnologías de vanguardia e impulsando la innovación constante, siempre con un
    enfoque centrado en los usuarios finales.
</p>
<hr />
<h2>Visión</h2>
<p>
    Ser líderes en la revolución tecnológica de México, creando soluciones digitales
    disruptivas que mejoren la vida de todas las personas. Nos esforzamos por superar
    las expectativas de nuestros clientes en cada interacción, brindando un servicio
    excepcional y personalizado. Fomentamos una cultura de colaboración, aprendizaje
    continuo y empoderamiento, donde cada miembro del equipo se sienta valorado y
    pueda desarrollar todo su potencial. Buscamos generar un impacto social positivo
    en México, apoyando causas sociales y creando soluciones tecnológicas que
    aborden problemas específicos de nuestra comunidad.
</p>
<hr />
<h2>Enfoque en el usuario</h2>
<p>
    Priorizamos las necesidades y experiencias de los usuarios finales en cada etapa
    del desarrollo de nuestras soluciones, involucrándolos activamente en el proceso de
    diseño, asegurando que sean intuitivas, útiles, satisfactorias y relevantes.
</p>
<hr />
<h2>Valores</h2>
<ul class="list-group list-group-flush mb-5">
    <li class="list-group-item">
        <p class="text-dark">Responsabilidad: </p>Asumimos la responsabilidad de nuestras acciones y
        decisiones, buscando siempre el equilibrio entre el crecimiento económico, el
        bienestar social y la protección del medio ambiente.
    </li>
    <li class="list-group-item">
        <p class="text-dark">Compromiso: </p>Estamos comprometidos a brindar soluciones excepcionales a
        nuestros clientes; fomentando un ambiente de crecimiento para nuestro
        equipo y generando un impacto positivo en nuestra comunidad mediante la
        tecnología.
    </li>
    <li class="list-group-item">
        <p class="text-dark">Inspiración: </p>Inspirar a otros a formar parte de un sistema cooperativo, a
        través de nuestras soluciones innovadoras y nuestro compromiso para un
        mejor futuro.
    </li>
    <li class="list-group-item">
        <p class="text-dark">Resiliencia: </p>Ante los desafíos, nos adaptamos y con determinación
        perseveramos creativamente para encontrar las mejores soluciones para
        nuestros clientes.
    </li>
    <li class="list-group-item">
        <p class="text-dark">Sostenibilidad: </p>Minimizando nuestro impacto ambiental y contribuimos al
        desarrollo sostenible de México a través de nuestras soluciones.
    </li>
    <li class="list-group-item">
        <p class="text-dark">Equilibrio: </p>Buscamos el equilibrio entre la innovación tecnológica, el
        bienestar social y la protección del medio ambiente.
    </li>
    <li class="list-group-item">
        <p class="text-dark">Creatividad: </p>Fomentamos la creatividad como motor de innovación y
        progreso.
    </li>
    <li class="list-group-item">
        <p class="text-dark">Transparencia: </p>Fomentamos la comunicación abierta y honesta en todos los
        niveles de la empresa y con nuestros clientes.
    </li>
</ul>

